.header {
  cursor: pointer;
}

.auth {
  display: inline-block;
  margin-left: auto;
  float: right;
}

.title {
  display: inline-block;
  background-image: url('/header.png');
  height: 100px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: 400px 100px;
}
